/*------------------------------------------
//  DISPLAY SECTION
--------------------------------------------*/
#display_section {
	background-color: black;
}

#my_screen {
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: lightgrey;
	border: 3px solid black;
	height: 90%;
	width: 95%;
	padding-left: 2vw;
	padding-right: 2vw;
	font-size: 200%;
}

/*------------------------------------------
  //  CONTROL SECTION
  --------------------------------------------*/
#control_section {
	background-color: royalblue;
	grid-template: 1fr / 1fr 1fr;
	border: 3px solid black;
}

#control_section>div {
	width: 80%;
	height: 80%;
	background-color: chocolate;
	border: 4px solid saddlebrown;
	font-size: 180%;
}

/*------------------------------------------
  //  BUTTON SECTION
  --------------------------------------------*/
#button_section {
	background-color: royalblue;
	grid-template: repeat(4, 1fr)/repeat(4, 1fr);
	border: 3px solid black;
}

#button_section>div {
	height: 80%;
	width: 80%;

}

.but_sec {
	display: grid;
	justify-items: center;
	align-items: center;
	border-radius: 10%;
	font-size: 235%;
	user-select: none;
}

#but-1,
#but-2,
#but-3,
#but-5,
#but-6,
#but-7,
#but-9,
#but-10,
#but-11,
#but-13,
#but-14,
#but-15 {
	background-color: lightgrey;
	border: 4px solid darkgrey;
}

#but-4,
#but-8,
#but-12,
#but-16 {
	background-color: chocolate;
	border: 4px solid saddlebrown;
}

/*------------------------------------------
  //  GENERAL
  --------------------------------------------*/
* {
	box-sizing: border-box;
	user-select: none;
}

body {
	background-color: bisque;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template: 1fr/ 1fr;
    overflow-x: hidden;
    overflow-y: scroll !important;
}

main {
	display: grid;
	grid-template: 1fr 1fr 4fr/ 1fr;
	margin: auto;
	border: 1px solid black;
	height: clamp(300px, 95vh, 1000px);
}

.grid-center {
	display: grid;
	justify-items: center;
	align-items: center;
}
